<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuntangnet.duizhang.modules.system.mapper.SystemRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.yuntangnet.duizhang.modules.system.entity.SystemRoleMenu">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
    </resultMap>

    <insert id="save">
        INSERT INTO system_role_menu
        (
        `role_id`,
        `menu_id`
        )
        VALUES
        <foreach collection="menuIdList" item="item" index="index" separator="," >
            (
            #{roleId},
            #{item}
            )
        </foreach>
    </insert>
</mapper>
